<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">	
	<title>Alerta</title>
	 <meta name="viewport" content="width=device-width, initial-scale=0.6"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
	<script src='https://cdn.firebase.com/v0/firebase.js'></script>
	<style type="text/css">
		@import url(css/styles.css);
	</style>

</head>
<body>
	<div class="header">
		<h1 id="title">ALERTA</h1>
		<h2 id="tagline">A tap away from help.<h2>
	</div>

	<div class="registration_form">
		<form method="post" id="emailForm" action="#">
			<div id="first_blurb" class="Alerta_blurb">
				<p>Wearable safety technology that protects you and your loved ones. Activated through the touch of a button.</p>
			</div>
			<div class="user_info">
				<div id="signup_header">
					<p>SIGN UP FOR OUR BETA</p>
				</div>
				<input class="customer_firstname" name="first" type="text" placeholder="First"><br>
				<input class="customer_lastname" name="last" type="text" placeholder="Last"><br>
				<input class="customer_email" name="email" type="text" placeholder="Please enter your email address"><br>
				<input class="signup_button" type="submit" name="submit" value="SUBMIT"><br>
			</div>
			
			<div id="second_blurb" class="Alerta_blurb">
				<p> Implemented with an Android application for Pebble Smartwatch - Alerta blasts out SOS messages to select contacts when your safety is threaten.</p>
			</div>
			
		</form>
	</div>
	
	 <script src = "js/jquery-1.10.2.min.js"></script>
	 <script src ="js/jquery.scrollTo-1.4.3.1-min.js"></script>
	 <script src="js/bootstrap.min.js"></script>
	 <script src="js/script.js"></script>
</body>
</html>

